<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров &ndash; Сельмаг</title>
</head>
<body>
<h1>Список товаров</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="product : ${products}">
        <td data-th-text="${product.getId()}"></td>
        <td>
            <a data-th-href="@{/catalogue/products/{productId}(productId=${product.getId()})}"
               data-th-text="${product.getName()}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>