<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product page [[${product.name}]]</title>
</head>
<body>
<h1 data-th-text="${product.getName()}"></h1>
<ul>
    <li> <strong>ID</strong>:  <span data-th-text="${product.getId()}"></span> </li>
    <li> <strong>Name</strong>:  <span data-th-text="${product.getName()}"></span> </li>
    <li> <strong>Description</strong>:  <span data-th-text="${product.getDescription()}"></span> </li>
</ul>

<a data-th-href="@{/catalogue/products/{id}/edit(id=${product.getId()})}">Edit product</a>
<br>
<a data-th-href="@{/catalogue/products/list}">&lAarr; to Product List</a>


<!-- Форма для удаления -->
<form method="POST" th:action="@{/catalogue/products/{id}(id=${product.id})}" onsubmit="return confirm('Are you sure you want to delete this product?');">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
</form>

</body>
</html>